body {
		background-color: #565655;
		background-image: url("../images/30th-background-desktop_.jpg");
		background-size: cover;
		background-repeat: no-repeat;
}

@font-face {
	font-family: noyhabistro-sack;
	src: url(d4b5827f98fdcf07c29d4c13d0830e30.woff2) format("woff2"), url(5f4d073294fdb194f8ac3e841ba8d570.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

/* #trying {
	margin-top: 100px;
} */

h3 {
	font-size: 1rem;
	margin-top: 10px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

p {
	font-family: 'Courier Prime', monospace;	
}


*,
:after,
:before {
	box-sizing: border-box
}

/* html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
} */



.header {
    width: 100%;
    /* height: 100px; */
    background-image: #fff;
}

.column-1,
.column-10,
.column-11,
.column-12,
.column-2,
.column-3,
.column-4,
.column-5,
.column-7,
.column-8,
.column-9 {
	float: left;
	padding: 15px
}

.effectTab-header .title::before {
	left: 0;
	width: 156%;
	height: 3px;
	margin-left: -28%;
	bottom: -1.5px
}

.effectTab-header .title::after {
	left: 50%;
	width: 25px;
	height: 25px;
	bottom: -26px;
	margin: 0 0 0 -10px;
	-webkit-clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
	clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0)
}


.column-1 {
	width: 8.333333333333333%
}

.column-2 {
	width: 16.66666666666667%
}

.column-3 {
	width: 25%
}

.column-4 {
	width: 33.33333333333333%
}

.column-5 {
	width: 41.66666666666667%
}

.column-6 {
	width: 50%;
	float: left;
	padding: 15px
}

.column-7 {
	width: 58.33333333333333%
}

.column-8 {
	width: 66.66666666666667%
}

.column-9 {
	width: 75%
}

.column-10 {
	width: 83.33333333333333%
}

.column-11 {
	width: 91.66666666666667%
}

.column-12,
.wrapper-full {
	width: 100%
}


.custom-row::after {
	content: "";
	display: table;
	clear: both
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	position: relative
}

.header {
	background-color: #485666;
	padding: 8px 0;
	position: static;
	z-index: 2000
}

.header h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2.2rem;
	padding-left: 40px
}

.rotate {
	position: absolute;
	transform: rotate(-20deg);
	left: 0;
	font-size: 2.8rem;
	top: 5px
}

.ex_padd {
	padding-top: 170px!important
}


.box-tab {
	margin: 10px 0
}

.effect {
	margin: auto;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07);
	background-color: #fff;
	border: 5px solid #f5f5f5
}

.tab-container {
	padding: 50px 0
}

.tab-head {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto
}

.tab .effect {
	position: relative;
	overflow: hidden;
	max-height: 240px;
	max-width: 350px;
	background: #3085a3;
	text-align: center;
	cursor: pointer
}

.grid-width3,
.grid-width6 {
	max-height: 270px!important;
	max-width: 530px!important
}

.grid-width8 {
	max-width: 700px!important
}

.tab .effect img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: .8
}

.tab .effect .tab-text {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.tab-text h2 {
	color: #fff;
	margin: 0;
	font-size: 1.5rem
}

.tab-text p {
	color: #fff;
	margin: 0;
	font-size: 1rem;
	font-family: 'Courier Prime', monospace;
}

.hide {
	display: none
}

@media (max-width:575px) {
	.column-xs-1,
	.column-xs-10,
	.column-xs-11,
	.column-xs-12,
	.column-xs-2,
	.column-xs-3,
	.column-xs-4,
	.column-xs-5,
	.column-xs-7,
	.column-xs-8,
	.column-xs-9 {
		float: left;
		padding: 15px
	}
	.column-xs-1 {
		width: 8.333333333333333%
	}
	.column-xs-2 {
		width: 16.66666666666667%
	}
	.column-xs-3 {
		width: 25%
	}
	.column-xs-4 {
		width: 33.33333333333333%
	}
	.column-xs-5 {
		width: 41.66666666666667%
	}
	.column-xs-6 {
		width: 50%;
		float: left;
		padding: 15px
	}
	.column-xs-7 {
		width: 58.33333333333333%
	}
	.column-xs-8 {
		width: 66.66666666666667%
	}
	.column-xs-9 {
		width: 75%
	}
	.column-xs-10 {
		width: 83.33333333333333%
	}
	.column-xs-11 {
		width: 91.66666666666667%
	}
	.column-xs-12 {
		width: 100%
	}
	.hide-xs {
		display: none
	}
	.effectTab-header .title::before {
		width: 125%;
		left: 15%
	}
	.tab-container {
		padding-top: 25px;
		padding-bottom: 25px
	}
}

@media (min-width:576px) and (max-width:767px) {
	.column-sm-1,
	.column-sm-10,
	.column-sm-11,
	.column-sm-12,
	.column-sm-2,
	.column-sm-3,
	.column-sm-4,
	.column-sm-5,
	.column-sm-7,
	.column-sm-8,
	.column-sm-9 {
		float: left;
		padding: 15px
	}
	.column-sm-1 {
		width: 8.333333333333333%
	}
	.column-sm-2 {
		width: 16.66666666666667%
	}
	.column-sm-3 {
		width: 25%
	}
	.column-sm-4 {
		width: 33.33333333333333%
	}
	.column-sm-5 {
		width: 41.66666666666667%
	}
	.column-sm-6 {
		width: 50%;
		float: left;
		padding: 15px
	}
	.column-sm-7 {
		width: 58.33333333333333%
	}
	.column-sm-8 {
		width: 66.66666666666667%
	}
	.column-sm-9 {
		width: 75%
	}
	.column-sm-10 {
		width: 83.33333333333333%
	}
	.column-sm-11 {
		width: 91.66666666666667%
	}
	.column-sm-12 {
		width: 100%
	}
	.hide-sm {
		display: none
	}
	.visible-sm {
		display: block
	}
	.tab-container {
		padding-top: 25px;
		padding-bottom: 25px
	}
}

@media (max-width:1000px) {
	.header h1 {
		padding-left: 70px
	}
	.rotate {
		left: 30px
	}
	@media (min-width:768px) and (max-width:991px) {
		.column-md-1,
		.column-md-10,
		.column-md-11,
		.column-md-12,
		.column-md-2,
		.column-md-3,
		.column-md-4,
		.column-md-5,
		.column-md-7,
		.column-md-8,
		.column-md-9 {
			float: left;
			padding: 15px
		}
		.column-md-1 {
			width: 8.333333333333333%
		}
		.column-md-2 {
			width: 16.66666666666667%
		}
		.column-md-3 {
			width: 25%
		}
		.column-md-4 {
			width: 33.33333333333333%
		}
		.column-md-5 {
			width: 41.66666666666667%
		}
		.column-md-6 {
			width: 50%;
			float: left;
			padding: 15px
		}
		.column-md-7 {
			width: 58.33333333333333%
		}
		.column-md-8 {
			width: 66.66666666666667%
		}
		.column-md-9 {
			width: 75%
		}
		.column-md-10 {
			width: 83.33333333333333%
		}
		.column-md-11 {
			width: 91.66666666666667%
		}
		.column-md-12 {
			width: 100%
		}
		.hide-md {
			display: none
		}
		.visible-md {
			display: block
		}
	}
}

.effect.effect-twelve {
	background: #42b078
}

.effect-twelve .tab-text h2 {
	position: relative;
	padding: .5em 0;
	text-align: left;
	overflow: hidden;
	font-family: noyhabistro-sack,Arial,Helvetica,sans-serif;
	font-size: 2rem;
}

.effect.effect-twelve h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	transform: translate3d(-100%, 0, 0);
	transition: all .35s;
	-webkit-transform: translate3d(-100%, 0, 0);
	-webkit-transition: all .35s
}

.effect.effect-twelve:hover h2:after {
	transform: translate3d(0, 0, 0)
}

.effect-twelve .tab-text p {
	padding: .7em 0;
	font-size: 1.8rem;
	text-align: left;
	line-height: 1.1;
	transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	opacity: 0;
	transition: all .35s;
	-webkit-transition: all .35s;
	font-family: 'Courier Prime', monospace;
	text-transform: lowercase;
}

.effect-twelve:hover p {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1
}

.effect.effect-twelve img {
	/* max-width: none; */
	opacity: 1;
	transform: translate3d(-10px, 0, 0);
	transition: all .35s;
	-webkit-transform: translate3d(-10px, 0, 0);
	-webkit-transition: all .35s
}

.effect.effect-twelve:hover img {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	opacity: .4
}

.effect.effect-twelve .icons-block {
	z-index: 1000;
	position: absolute;
	bottom: 25px;
	width: 100%;
	left: 0;
	text-align: left;
	padding-left: 15px
}

.effect.effect-twelve .icons-block .social-icon-1,
.effect.effect-twelve .icons-block .social-icon-2,
.effect.effect-twelve .icons-block .social-icon-3 {
	transition: all .5s ease-in-out;
	opacity: 0
}

.effect.effect-twelve:hover .social-icon-1 {
	opacity: 1;
	transition-delay: .3s;
	transition-duration: .5s
}

.effect.effect-twelve:hover .social-icon-2 {
	opacity: 1;
	transition-delay: .4s;
	transition-duration: .5s
}

.effect.effect-twelve:hover .social-icon-3 {
	opacity: 1;
	transition-delay: .5s;
	transition-duration: .5s
}

.effect.effect-twelve .icons-block i {
	color: rgba(255, 255, 255, 1);
	padding-left: 10px;
	font-size: 1.3rem
}

@media (max-width:575px) {
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:576px) and (max-width:767px) {
	.tab .effect .tab-text h2 {
		font-size: 1.3rem!important;
		font-family: 'Montserrat', sans-serif;
	}
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:768px) and (max-width:991px) {
	.effect h2 {
		font-size: 1.3rem!important
	}
}

.titleWrapper{
	width: 400px;
	margin: auto;
	text-align:center;
	height:80px;
	overflow:hidden;
	text-align:center;
}
h1{
	color:#292929;
	font-size: 40px;
	margin:0;
	padding:0;
	line-height:80px;
	height:80px;
	position: relative;
	font-family: 'Courier Prime', monospace;
	/* text-transform: uppercase; */
	word-space: 4em;
	letter-spacing: 0.05em;
}
h1 span{
	color: gray;
	display: inline-block;
	transform: translateY(100%);
	transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
}

.titleWrapper.ready h1 span{
	transform: translateY(0%);
}

h1.first span{
	/* background:#fafafa; */
	position:relative;
	z-index:5;
}
h1.second span{
	position:relative;
	z-index:1;
}
h1.third span{
	position:relative;
	z-index:2;
}



$num: 1;

@while $num < 20 {
    h1.first span:nth-of-type(#{$num}) {
			transition-delay: 0.02s * $num;
    }
		h1.second span:nth-of-type(#{$num}) {
			transition-delay: 0.03s * $num + 0.05;
    }

    $num: $num + 1;
}




.titleWrapper.ready:hover h1.first span{
	transform: translateY(-100%);
}
.titleWrapper.ready:hover h1.second span{
	transform: translateY(-100%);
}