<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue In Class</title>
</head>

<body>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vue.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue In Class</title>
</head>

<body>

    <div id="app">{{ message }}
        <p>{{ purchases }}</p>
        <ul>
            <!-- <li v-for="coffee in coffees"> {{ coffee }}</li> -->
            <coffee-view v-for="coffee in coffees" v-bind:coffee="coffee" v-bind:key="coffee.id">
            </coffee-view>
        </ul>
        <button v-on:click="buyCoffee">Buy</button>
        <button v-if="seeit">Buy More</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>

</html>